<body>
<div class="container">
    <h1>Fast configuration</h1>
    <form class="form-control" name="dbfrm" action="" method="post">
        <p>Mysql Host : <input type="text" placeholder="localhost" name="host"/></p>
        <p>Mysql User : <input type="text" placeholder="root" name="user"/></p>
        <p>Mysql Pass : <input type="text" placeholder="root" name="pass"/></p>
        <p>Mysql db name : <input type="text" placeholder="test" name="dbname"/></p>


       <hr>
        <p><input class="btn btn-success" type="submit" name="changeUrl" value="ChangeURL website to"/></p>
        <input type="text" id="url" value="http://demo.local/" name="newUrl"/><br>
        <input class="btn btn-warning" type="button" value="Delete" onclick="document.getElementById('url').value = '';">
        <hr>
        <p><input class="btn btn-success" type="submit" name="mailEnable" value="Enable emails"/></p>
        <p><input class="btn btn-danger" type="submit" name="mailDisable" value="Disable emails"/></p>
        <hr>
        <p><input class="btn btn-success" type="submit" name="changeEmail" value="Change all emails to"/></p>
        <p><input type="text" placeholder="demo@superbbg.com" name="newEmail"/></p>
    </form>
