<!DOCTYPE html>
<html lang="en">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fast config for magento developer</title>
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <style>p.{padding: 5px;}</style>
</head>
